<section class="main">
  <form id="form">
    <h1>Entre</h1>
    <div>
      <label for="nome">Nome</label>
      <input id="nome" name="nome" type="text" placeholder="Nome de usuário...">
    </div>
    <div>
      <label for="senha">Senha</label>
      <input id="senha" name="senha" type="password" placeholder="Digite sua senha...">
    </div>
    <button type="submit">Entrar</button>
    <a class="btn" href="./criar-conta.html">Crie uma Conta</a>
  </form>
</section>

<script>
  const form = document.getElementById('form');

  form.onsubmit = e => {
    e.preventDefault();
  }
</script>

<style>
  .main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }

  p, h1 {
    text-align: center;
    margin: 5px;
  }

  form, input {
    font-size: 20px;
  }

  form {
    text-align: center;
  }

  form div {
    display: flex;
    justify-content: space-between;
    gap: 5px;
  }
</style>