<section class="main">
  <h1>Bem Vindo ao RPG Tools</h1>
  <p>Entre ou crie sua conta para juntos construirmos uma nova estória que será contada aos nossos netos <i>hahahaha</i></p>
  <div>
    <a class="btn" href="./entrar.html">Entrar</a>
    <a class="btn" href="./criar-conta.html">Criar Conta</a>
  </div>
</section>

<style>
  .main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }

  p, h1 {
    text-align: center;
    margin: 5px;
  }
</style>